*{

    margin: 0;
}

header {
display: flex;
flex-direction: row;
padding: 20px;
justify-content: space-around;
background-color: rgb(253, 0, 0);
  text-align: center;

} 

nav {

   display:flex;
   flex-direction: row; 
   background-color: blue;
}

nav a{
  color: chartreuse;
  padding: 20px 30px;

  text-decoration: none;
}

.izquierda{
background-color: darkviolet;
flex: 20px;
}

.derecha{
background-color: indianred;
flex: 20px;
}

.principal{
  height: 70vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.logo {
background-color: darkgreen;
height: 50px;
width: 50px;
}

.titulo {
  color: rgb(255, 123, 0);
  height: 100px;
  width: 100px;
  justify-content: center; 
  background-color: darkorchid;
  font-family: 'Courier New', Courier, monospace;
}
.login {
background-color: coral;
height: 100px;
width: 500px;
justify-content: end;
}


aside {

flex: 20px;
background-color: brown;
padding: 20xpx;
}

section {

  flex: 70%;
  background-color: crimson;
  padding: 20px ;
}

footer {

  padding: 20px;
  text-align: center;
background-color: firebrick;

}
@media screen and (max-width: 700px){
  nav,.principal{
     flex-direction: column;
  }
  
}
.barra{
justify-content: center;
background-color:lightcoral;
}